.venv/
venv/
build/
dist/
*.spec
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/
*.screenshot.png
*.log
!packaging/linux/goodbyedpi-turkey.spec
!packaging/windows/goodbyedpi-turkey.spec
*.deb
*.tar.gz
*.zip
